<%- include('./partials/errorMessage.ejs') %>

<!-- where the post form will be rendering in -->
<div id="createPostContainer"></div>
<!-- button to request the post form -->
<button class="createPostButton"
		hx-get="/PostForm"
        hx-target="#createPostContainer">Create Post</button>

		<!-- for every post -->
<% for (let post of posts) { %>
	<!-- create a container -->
<div class="postCardContainer">
	<!-- that holds a card -->
	<div class="postCard">
		<!-- containing the user's profile picture as wel as username -->
		<div class="postCardUserDetails">
				<div class="postCardPfp">
					<img class="profilePfp" src="https://bucketcareerchain.s3.us-east-1.amazonaws.com/profilePictures/<%= post.pfp %>">
				</div>
				<div class="postCardUsername"><a class="postCardUsername" href="/profile/<%= post.username %>"><%= post.username %></a></div>
		</div>
		<!-- the text of the post they created -->
		<div class="postCardPostText"><%= post.postText %></div>
		<!-- and the like counter as well as the like/dislike button depending on whether they liked it or not -->
		<div class="postCardLikeButton">

			<div class="likeButtonAndViews" id="likeButtonContainer<%= post.postId %>">
			<p><%= post.likes %></p>
			<% if (!likedPosts.includes(post.postId)) { %>
				<button class="likeButton"
						hx-post="post/like/<%= post.postId %>"
						hx-target="#likeButtonContainer<%= post.postId %>"
						hx-swap="outerHTML">Like</button>
			<% } else { %>
				<button class="likeButton"
						hx-post="post/unlike/<%= post.postId %>"
						hx-target="#likeButtonContainer<%= post.postId %>"
						hx-swap="outerHTML">Dislike</button>
			<% } %>
			</div>
		</div>
	</div>
</div>
<% } %>