<!-- copied from the home page though it has a change shown below -->
<% for (let post of posts) { %>
<div class="postCardContainer">
	<div class="postCard">
		<div class="postCardUserDetails">
				<div class="postCardPfp"></div>
				<div class="postCardUsername"><a href="/profile/<%= post.username %>"><%= post.username %></a></div>
		</div>
		<div class="postCardPostText"><%= post.postText %></div>
		<div class="postCardLikeButton">
			<!-- if the row has a post (not a user who has never posted before) -->
                        <% if (post.postId) { %>
			<div id="likeButtonContainer<%= post.postId %>">
			<p><%= post.likes %></p>
			<% if (!likedPosts.includes(post.postId)) { %>
				<button class="likeButton"
						hx-post="post/like/<%= post.postId %>"
						hx-target="#likeButtonContainer<%= post.postId %>"
						hx-swap="outerHTML">Like</button>
			<% } else { %>
				<button class="likeButton"
						hx-post="post/unlike/<%= post.postId %>"
						hx-target="#likeButtonContainer<%= post.postId %>"
						hx-swap="outerHTML">Dislike</button>
			<% } %>
			</div>
                        <% } %>
		</div>
	</div>
</div>
<% } %>